@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Bruno+Ace+SC&family=Castoro+Titling&family=Neucha&family=Poiret+One&family=Press+Start+2P&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/* font-family: 'Bruno Ace', cursive;
font-family: 'Bruno Ace SC', cursive;
font-family: 'Castoro Titling', cursive;
font-family: 'Neucha', cursive;
font-family: 'Poiret One', cursive;
font-family: 'Press Start 2P', cursive;
font-family: 'Ubuntu Mono', monospace; */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: rgb(6, 11, 25);
}

main {
  padding: 4em 0;
  color: rgb(155, 155, 155);
  overflow: hidden;
  position: relative;
}

main::before {
  content: "";
  background: url("../images/cccoil.svg") no-repeat center;
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  will-change: transform;
}

a,
button {
  all: unset;
  cursor: pointer;
}

div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid #e7195a;
  color: #e7195a;
  border-radius: 4px;
  text-align: center;
}

input.error {
  border: 1px solid #e7195a;
}

dialog {
  width: 400px;
  margin: auto;
  padding: 4em;
  background: rgba(6, 11, 25, 0.8);
}
dialog form {
  background: black;
}
dialog form button {
  cursor: pointer;
  background: rgb(110, 220, 217);
  background: linear-gradient(225deg, rgb(110, 220, 217) 10%, rgb(51, 47, 208) 100%);
  color: azure;
  border: 2px solid azure;
  border-radius: 4px;
  font-family: "Press Start 2P", cursive;
  font-size: 0.6em;
  transform: scale(1, 1.5);
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

.nav {
  background: rgb(6, 11, 25);
  border-bottom: rgba(255, 255, 255, 0.406) solid 2px;
  /* background: linear-gradient(45deg, var(--first) 10%, var(--second) 100%); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 1em 2em;
  color: rgba(255, 255, 255, 0.406);
}
.nav__brand {
  font-family: "Press Start 2P", cursive;
  font-size: 1.2em;
  font-style: italic;
  background: rgb(0, 8, 29);
  background: linear-gradient(225deg, rgb(51, 47, 208) 24%, rgb(252, 70, 107) 100%);
  background-clip: text;
  color: transparent;
  transform-origin: 0;
  transform: scaleX(0.6);
}
.nav__options {
  display: flex;
  gap: 1.5em;
}
.nav__options__option {
  display: flex;
  justify-content: center;
  border: rgba(255, 255, 255, 0.406) solid 2px;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  padding: 0.5em;
}
.nav__options__option svg {
  width: 1.5em;
}
.nav__options__option:hover {
  color: rgb(6, 11, 25);
}
.nav__options__create:hover {
  background-color: rgb(110, 220, 217);
}
.nav__options__profile:hover {
  background-color: rgb(146, 84, 200);
}
.nav__options__logout:hover {
  background-color: rgb(51, 47, 208);
}
.nav__logs {
  display: flex;
  gap: 1.3em;
}
.nav__logs a {
  border: none;
  width: auto;
  text-transform: uppercase;
  font-size: 0.9em;
}
.nav__logs a:hover {
  color: azure;
}

.auth {
  max-width: 400px;
  margin: 4em auto;
  background: rgb(110, 220, 217);
  background: linear-gradient(45deg, rgb(110, 220, 217) 10%, rgb(51, 47, 208) 100%);
  padding: 4em 5em;
  border-radius: 2em;
  border: solid white 3px;
  font-family: "Ubuntu Mono", monospace;
}
.auth .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.75em;
}
.auth .form h1 {
  font-family: "Press Start 2P", cursive;
  font-size: 1em;
  margin-bottom: 1.5em;
  color: white;
  transform: scaleX(0.75);
}
.auth .form__field {
  display: flex;
  flex-direction: column;
}
.auth .form__field input {
  width: 100%;
  height: 45px;
  padding: 10px;
  border: 1px solid azure;
  border-radius: 4px;
}
.auth .form__field label {
  margin-bottom: 0.75em;
  margin-left: 0.25em;
  align-self: start;
  color: azure;
}
.auth .form button {
  cursor: pointer;
  background: rgb(110, 220, 217);
  background: linear-gradient(225deg, rgb(110, 220, 217) 10%, rgb(51, 47, 208) 100%);
  color: azure;
  border: 2px solid azure;
  border-radius: 4px;
  font-family: "Press Start 2P", cursive;
  font-size: 0.6em;
  transform: scale(1, 1.5);
  padding: 0.75em 2em;
}

.articles {
  display: flex;
  flex-direction: column;
  min-width: 800px;
  width: 60vw;
  margin: 0 auto;
  gap: 1em;
  padding: 1em 0;
}
.articles h2 {
  font-family: "Neucha", cursive;
  font-size: 2em;
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px rgb(51, 47, 208), 0 0 82px rgb(51, 47, 208), 0 0 92px rgb(51, 47, 208), 0 0 102px rgb(51, 47, 208), 0 0 151px rgb(51, 47, 208);
}
.articles__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.articles__header select {
  background: rgb(6, 11, 25);
  color: rgba(255, 255, 255, 0.606);
  border-radius: 1em;
  padding: 0.2em;
}
.articles__posts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  padding: 1.5em;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.015);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border: 1px solid rgba(255, 255, 255, 0.12);
}
.articles .post {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 1em;
  padding: 1.5em;
  min-height: 350px;
  height: 30vh;
  overflow: hidden;
}
.articles .post__cover {
  height: 50%;
  width: 100%;
  object-fit: cover;
}
.articles .post__infos {
  font-family: "Ubuntu Mono", monospace;
}
.articles .post__infos h3 {
  font-family: "Castoro Titling", cursive;
  border-bottom: rgba(255, 255, 255, 0.406) 1px solid;
  margin-bottom: 0.15em;
}
.articles .post__infos .info {
  border-bottom: rgba(255, 255, 255, 0.406) 1px solid;
  padding: 0.25em 0;
  margin-bottom: 0.25em;
  display: flex;
  justify-content: space-between;
  font-size: 0.85em;
}
.articles .post__infos .info__date, .articles .post__infos .info__author, .articles .post__infos .info__likes {
  font-weight: bold;
  font-style: italic;
}
.articles .post__infos .summary {
  width: 100%;
  font-size: 0.85em;
}

.post-form {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.015);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border: 1px solid rgba(255, 255, 255, 0.12);
  margin: 2em auto;
  width: 80%;
  padding: 2em 3em;
}
.post-form h2 {
  font-family: "Neucha", cursive;
  font-size: 2em;
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px rgb(51, 47, 208), 0 0 82px rgb(51, 47, 208), 0 0 92px rgb(51, 47, 208), 0 0 102px rgb(51, 47, 208), 0 0 151px rgb(51, 47, 208);
  font-family: "Press Start 2P", cursive;
  transform: scale(1, 1.5);
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 1em;
}
.post-form .form {
  padding: 1em 0;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.post-form .form__fields {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.post-form .form__field {
  background-color: rgba(0, 0, 0, 0.8);
  color: rgba(255, 255, 255, 0.406);
  border: rgba(255, 255, 255, 0.406) 1px solid;
  padding: 1em;
  border-radius: 0.5em;
  font-family: "Ubuntu Mono", monospace;
}
.post-form .form__field--area {
  height: 85px;
}
.post-form .form__field--quill {
  padding: 0;
  border: rgba(255, 255, 255, 0.406) 1px solid;
}
.post-form .form__field--quill .ql-toolbar,
.post-form .form__field--quill .ql-container {
  border: none;
}
.post-form .form__field--quill .ql-toolbar {
  border-bottom: rgba(255, 255, 255, 0.406) 1px solid;
}
.post-form .form__field--quill .ql-toolbar .ql-picker,
.post-form .form__field--quill .ql-toolbar .ql-stoke,
.post-form .form__field--quill .ql-toolbar .ql-fill {
  color: rgba(255, 255, 255, 0.406);
}
.post-form .form__field--quill .ql-container {
  height: 200px;
}
.post-form .form__field--quill .ql-editor.ql-blank::before {
  content: "Votre sujet super intéressant !";
  color: rgba(255, 255, 255, 0.406);
  font-style: normal;
  font-family: "Ubuntu Mono", monospace;
}
.post-form .form__footer {
  display: flex;
  flex-direction: column;
  border-top: 2px solid white;
  padding-top: 2em;
}
.post-form .form__button {
  all: unset;
  cursor: pointer;
  background: rgb(110, 220, 217);
  background: linear-gradient(225deg, rgb(110, 220, 217) 10%, rgb(51, 47, 208) 100%);
  color: azure;
  border: 2px solid azure;
  border-radius: 4px;
  font-family: "Press Start 2P", cursive;
  font-size: 0.6em;
  transform: scale(1, 1.5);
  text-align: center;
  padding: 0.8em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.post-form .form .file,
.post-form .form .submit {
  transition: 0.5s ease-in-out;
}
.post-form .form .file {
  background: rgb(6, 11, 25);
  margin-top: 0.75em;
}
.post-form .form .submit:hover,
.post-form .form .file:hover {
  background: rgba(255, 255, 255, 0.08);
  transition: 0.5s ease-in-out;
}
.post-form .form input[type=file] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.post-page {
  padding: 2em 0;
}
.post-page .post {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.015);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border: 1px solid rgba(255, 255, 255, 0.12);
  padding: 3.5em 2.5em;
  max-width: 800px;
  margin: 0 auto 3em;
  border-radius: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(180, 180, 180);
}
.post-page .post__options {
  display: flex;
  gap: 2em;
  margin-bottom: 2em;
}
.post-page .post__options .option {
  display: flex;
  justify-content: center;
  border: rgba(255, 255, 255, 0.406) solid 2px;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  padding: 0.5em;
}
.post-page .post__options .option:hover {
  color: rgb(255, 255, 255);
}
.post-page .post__options .edit:hover {
  background: rgba(0, 128, 0, 0.45);
}
.post-page .post__options .share:hover {
  background: rgba(255, 255, 0, 0.45);
}
.post-page .post__options .delete:hover {
  background: rgba(140, 0, 255, 0.45);
}
.post-page .post__cover {
  max-width: 650px;
  max-height: 360px;
  aspect-ratio: 16/10;
  object-fit: cover;
  margin-bottom: 1.25em;
}
.post-page .post .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.post-page .post .content__info {
  width: 100%;
  display: flex;
  justify-content: space-around;
  color: grey;
  margin-bottom: 1.5em;
}
.post-page .post .content__info .info {
  font-weight: bold;
  font-style: italic;
}
.post-page .post .content__title {
  font-family: "Castoro Titling", cursive;
  margin-bottom: 1em;
  border-top: rgba(255, 255, 255, 0.406) solid 1px;
  border-bottom: rgba(255, 255, 255, 0.406) solid 1px;
  width: 100%;
  text-align: center;
  padding: 0.5em 0;
}
.post-page .post .content__body {
  font-family: "Ubuntu Mono", monospace;
  background: rgb(6, 11, 25);
  padding: 1.5em;
  border-radius: 1em;
}

.comment-section {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.015);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border: 1px solid rgba(255, 255, 255, 0.12);
  padding: 3.5em 2.5em;
  max-width: 800px;
  margin: 0 auto 3em;
  border-radius: 2em;
  color: rgb(155, 155, 155);
  font-family: "Ubuntu Mono", monospace;
}
.comment-section h3 {
  font-family: "Press Start 2P", cursive;
  transform: scale(1, 1.5);
  font-size: 0.85em;
  padding: 0.5em;
  border-bottom: rgba(255, 255, 255, 0.406) solid 1px;
}
.comment-section .comments {
  background: rgb(6, 11, 25);
  border: rgba(255, 255, 255, 0.406) solid 1px;
  border-radius: 1em;
  margin-top: 1.5em;
  margin-bottom: 2em;
}
.comment-section .comments .comment {
  padding: 1em;
  /* border-bottom: var(--border-color) solid 1px; */
  position: relative;
  border-radius: 1em 0 1em 0;
  word-break: break-word;
}
.comment-section .comments .comment__info {
  display: flex;
  justify-content: space-between;
  border-bottom: rgba(255, 255, 255, 0.406) solid 1px;
  padding: 0 1em;
  padding-bottom: 0.25em;
  font-size: 0.75em;
}
.comment-section .comments .comment__info .info-weight {
  font-weight: bold;
  font-style: italic;
}
.comment-section .comments .comment__content {
  padding: 0.25em 0;
  font-size: 0.85em;
}
.comment-section .comments .comment__content .delete {
  display: flex;
  justify-content: center;
  border: rgba(255, 255, 255, 0.406) solid 2px;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  padding: 0.5em;
  width: 0.5em;
  height: 0.5em;
  padding: 0.2em;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.comment-section .comments .comment__content .delete:hover {
  background: rgba(255, 0, 0, 0.45);
}
.comment-section .comments .comment:nth-child(even) {
  background: rgba(255, 255, 255, 0.08);
}
.comment-section .comments .comment:last-child {
  border-bottom: none;
  border-radius: 1em 0 1em 1em;
}
.comment-section .form {
  border-top: rgba(255, 255, 255, 0.406) solid 1px;
  padding-top: 2em;
  display: flex;
  /* flex-direction: column; */
  flex-direction: column;
  gap: 1em;
}
.comment-section .form textarea {
  background: none;
  border-radius: 0.5em;
  height: 100px;
  padding: 1.3em;
  color: whitesmoke;
}
.comment-section .form button {
  cursor: pointer;
  background: rgb(110, 220, 217);
  background: linear-gradient(225deg, rgb(110, 220, 217) 10%, rgb(51, 47, 208) 100%);
  color: azure;
  border: 2px solid azure;
  border-radius: 4px;
  font-family: "Press Start 2P", cursive;
  font-size: 0.6em;
  transform: scale(1, 1.5);
  background: none;
  padding: 0.7em;
  text-align: center;
}
.comment-section .form button:hover {
  background: linear-gradient(225deg, rgb(110, 220, 217) 10%, rgb(51, 47, 208) 100%);
}

/*# sourceMappingURL=index.css.map */
