
<main class="home">
    
    <div class="articles">
        <div class="articles__header">
            <h2>Articles</h2>
            <select  name="sort-posts" id="sort-posts"> 
                <option value="none" disabled>--Trier--</option>
                <option value="newest">Le plus récent</option>
                <option value="oldest">Le plus ancien</option>
                <option value="loved">Le plus aimé</option>
                <option value="hated">Le moins aimé</option>
            </select>
        </div>
        <div class="articles__posts">
            <app-posts-list></app-posts-list>
        </div>
    </div>
</main>