.header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

.nav {
    background: $background-color;
    border-bottom: $border-color solid 2px;
    /* background: linear-gradient(45deg, var(--first) 10%, var(--second) 100%); */

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 1em 2em;
    color: $border-color;

    &__brand {
        font-family: 'Press Start 2P', cursive;
        font-size: 1.2em;
        font-style: italic;
        background: rgb(0, 8, 29);
        background: linear-gradient(225deg, $second 24%, rgba(252, 70, 107, 1) 100%);
        background-clip: text;
        color: transparent;
        transform-origin: 0;
        transform: scaleX(0.6);
    }

    &__options {
        display: flex;
        gap: 1.5em;

        &__option {
            @include rounded-button;

            svg {
                width: 1.5em;
            }
        }

        &__option:hover {
            color: $background-color;
        }

        &__create:hover {
            background-color: $first;
        }

        &__profile:hover {
            background-color: $fourth;
        }

        &__logout:hover {
            background-color: $second;
        }


    }

    &__logs {
        display: flex;
        gap: 1.3em;

        a {
            border: none;
            width: auto;
            text-transform: uppercase;
            font-size: 0.9em;
        }

        a:hover {
            color: azure;

        }
    }

}