@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Bruno+Ace+SC&family=Castoro+Titling&family=Neucha&family=Poiret+One&family=Press+Start+2P&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* font-family: 'Bruno Ace', cursive;
font-family: 'Bruno Ace SC', cursive;
font-family: 'Castoro Titling', cursive;
font-family: 'Neucha', cursive;
font-family: 'Poiret One', cursive;
font-family: 'Press Start 2P', cursive;
font-family: 'Ubuntu Mono', monospace; */
@import "./variables.scss";

@import "./App.scss";

@import "./Navbar.scss";
@import "./Auths.scss";
@import "./HomePage.scss";
@import "./PostForms.scss";
@import "./PostPage.scss";
@import "./Comments.scss";